body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}

.navbar {
  background: #007acc;
  padding: 10px;
  text-align: center;
}

.navbar a {
  color: white;
  margin: 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.container {
  max-width: 800px;
  margin: 2em auto;
  padding: 1em;
  background: white;
  border-radius: 5px;
}